
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
    position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
    padding-top: 10px;

	.copyright {
		text-align: left;
	}
	
	.social {
		text-align: right;
		margin-bottom: 10px;
	}
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.vcenter {
    display: flex;
    align-items: center;
}

.flex-grid {
    display:flex;

    .cell {
        flex: 1;
    }
}

.breadcrumb {
	background: rgba(245, 245, 245, 0.82);
	border: 1px solid rgba(245, 245, 245, 1);
	border-radius: 4px;
	display: block;
	li {
		font-size: 14px;
	}
	a {
		color: rgba(66, 139, 202, 1);
		&:hover {
			color: rgba(42, 100, 150, 1);
		}
	}
	>.active {
		color: rgba(153, 153, 153, 1);
	}
	>li+li {
		&:before {
			color: rgba(204, 204, 204, 1);
			content: "\2771\00a0";
		}
	}
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  + .callout {
    margin-top: -5px;
  }
}

.callout-default {
  border-left-color: #777;
  h4 {
    color: #777;
  }
}

.callout-primary {
  border-left-color: #428bca;
  h4 {
    color: #428bca;
  }
}

.callout-success {
  border-left-color: #5cb85c;
  h4 {
    color: #5cb85c;
  }
}

.callout-danger {
  border-left-color: #d9534f;
  h4 {
    color: #d9534f;
  }
}

.callout-warning {
  border-left-color: #f0ad4e;
  h4 {
    color: #f0ad4e;
  }
}

.callout-info {
  border-left-color: #5bc0de;
  h4 {
    color: #5bc0de;
  }
}